ILogicaEmpleado/ClienteServicioEmpleados/Connected Services/ServicioEmpleados/ServicioEmpleado.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioEmpleado" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51775/ServicioEmpleados.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51775/ServicioEmpleados.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51775/ServicioEmpleados.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:51775/ServicioEmpleados.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ILogicaEmpleado.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioEmpleado_GetOficios_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOficios" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleado_GetOficios_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOficiosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleado_GetEmpleadosOficio_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmpleadosOficio" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleado_GetEmpleadosOficio_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmpleadosOficioResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioEmpleado">
    <wsdl:operation name="GetOficios">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEmpleado/GetOficios" message="tns:IServicioEmpleado_GetOficios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEmpleado/GetOficiosResponse" message="tns:IServicioEmpleado_GetOficios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmpleadosOficio">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEmpleado/GetEmpleadosOficio" message="tns:IServicioEmpleado_GetEmpleadosOficio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEmpleado/GetEmpleadosOficioResponse" message="tns:IServicioEmpleado_GetEmpleadosOficio_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioEmpleado" type="tns:IServicioEmpleado">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOficios">
      <soap:operation soapAction="http://tempuri.org/IServicioEmpleado/GetOficios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpleadosOficio">
      <soap:operation soapAction="http://tempuri.org/IServicioEmpleado/GetEmpleadosOficio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioEmpleado">
    <wsdl:port name="BasicHttpBinding_IServicioEmpleado" binding="tns:BasicHttpBinding_IServicioEmpleado">
      <soap:address location="http://localhost:51775/ServicioEmpleados.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>