LogicaDepartamento/ClienteDepartamentos/Connected Services/ServiceReference1/ServicioDepartamentos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53037/ServicioDepartamentos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LogicaDepartamento.Models" />
  <xs:element name="GetDepartamentos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartamentosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LogicaDepartamento.Models" minOccurs="0" name="GetDepartamentosResult" nillable="true" type="q1:ArrayOfDepartamentos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartamentosAsynca">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartamentosAsyncaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LogicaDepartamento.Models" minOccurs="0" name="GetDepartamentosAsyncaResult" nillable="true" type="q2:ArrayOfDepartamentos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>